<div class="expense-container">
  <h2>{{ expenseId ? 'Edit Expense' : 'Add Expense' }}</h2>

  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="month">Month:</label>
      <input id="month" type="text" class="form-control" formControlName="month" placeholder="e.g. January"
        [ngbTypeahead]="searchMonth" [resultFormatter]="formatter" [inputFormatter]="formatter" required />
    </div>

    <div class="form-group">
      <label for="year">Year:</label>
      <select formControlName="year" id="year">
        <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
      </select>
    </div>



    <div class="form-group">
      <label for="amount">Amount:</label>
      <input id="amount" type="number" formControlName="amount" placeholder="0.00" required />
    </div>

    <div class="form-group" *ngIf="!isEditMode">
      <label for="categoryId">Category:</label>
      <select id="categoryId" formControlName="categoryId" required>
        <option value="">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="!isEditMode">
      <label for="type">Type:</label>
      <select id="type" formControlName="type" required>
        <option value="Real">Real</option>
        <option value="Proposal">Proposal</option>
      </select>
    </div>

    <button type="submit" [disabled]="expenseForm.invalid">{{ expenseId ? 'Update Expense' : 'Add Expense' }}</button>
    <button type="button" (click)="cancelEdit()" *ngIf="isEditMode">Cancel Edit</button>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>