/* navbar.component.css */
.navbar {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .active {
    font-weight: bold;
    color: #fff !important;
  }
  
  .dropdown-menu {
    min-width: 150px;
  }